<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Location of 3rdParty Assemblies, which are used by COMOS -->
      <probing privatePath="NET_Runtime;NET_Runtime\Teamcenter\SOA;Custom"/>
    </assemblyBinding>
    <!-- Uncomment the following option, if loading assemblies from remote sources (such as network drives) is necessary. 
          The value for XmlAttribute 'enabled' can be set to 'true' or 'false'. For further information please visit the MSDN websites. -->
    <!-- <loadFromRemoteSources enabled="true"/> -->
  </runtime>

  <system.diagnostics>
    <switches>
      <!-- Application general -->
      <add name="AppGlobal" value="Error"/>
      <!-- Application general (COM) -->
      <add name="ComAppGlobal" value="Error"/>
      <!-- Kernel -->
      <add name="Kernel" value="Error"/>
      <!-- Workflow management -->
      <add name="Workflow" value="Error"/>
      <!-- Query, XMLConnector, XMLAdapter(SAP) -->
      <add name="QueryX" value="Error"/>
    </switches>
    <sources>
      <source name="AppGlobal" switchName="AppGlobal" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!-- Comment out the following line if the trace should Not be written to the shared DefaultListener.-->
          <add name="DefaultListener"/>
          <!-- Uncomment the following line if the trace should be written to the shared ComosTextWriterTraceListener.-->
          <!--<add name="ComosTextWriterTraceListener" />-->

          <!--Uncomment the following line if the trace should be written to the non-shared AppGlobal listener.-->
          <!--<add name="AppGlobal" type="System.Diagnostics.TextWriterTraceListener"
               initializeData="C:/Listeners/AppGlobal.log" />-->

          <!--Comment out the following line if the trace should be written to the default trace.-->
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="ComAppGlobal" switchName="ComAppGlobal" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="DefaultListener"/>
          <!-- Uncomment the following line if the trace should be written to the shared ComosTextWriterTraceListener.-->
          <!--<add name="ComosTextWriterTraceListener" />-->
          <!--Comment out the following line if the trace should be written to the default trace.-->
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="Kernel" switchName="Kernel" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="DefaultListener"/>
          <!-- Uncomment the following line if the trace should be written to the shared ComosTextWriterTraceListener.-->
          <!--<add name="ComosTextWriterTraceListener" />-->
          <!--Comment out the following line if the trace should be written to the default trace.-->
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="Workflow" switchName="Workflow" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="DefaultListener"/>
          <!-- Uncomment the following line if the trace should be written to the shared ComosTextWriterTraceListener.-->
          <!--<add name="ComosTextWriterTraceListener" />-->
          <!--Comment out the following line if the trace should be written to the default trace.-->
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="QueryX" switchName="QueryX" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="DefaultListener"/>
          <!-- Uncomment the following line if the trace should be written to the shared ComosTextWriterTraceListener.-->
          <!--<add name="ComosTextWriterTraceListener" />-->
          <!--Comment out the following line if the trace should be written to the default trace.-->
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="DefaultListener" type="Comos.Global.Diagnostics.CDefaultTraceListener, Comos.Global" traceOutputOptions="ThreadId"/>

      <!-- Uncomment the following line if you want to use File-Logging with the shared ComosTextWriterTraceListener.-->
      <!--<add name="ComosTextWriterTraceListener" type="Comos.Global.Diagnostics.ComosTextWriterTraceListener, Comos.Global" 
              initializeData="FileDirectory=, MaxFileLength=104857600, MaxFileCount=5, Mode=CutOff" traceOutputOptions="DateTime, ProcessId, ThreadId" />-->

      <!--
            You can use the ComosTextWriterTraceListener to enable logging into a file.
            Use the initializeData Attribute to set the parameter values you want.
            If you don't set a value for a Parameter, the default value will be used.
            e.g.: initializeData="FileDirectory=, MaxFileLength=104857600, MaxFileCount=5, Mode=CutOff",
            will log to C:\Documents and Settings\<user>\Local Settings\Application Data\Comos_Industry_Solutions\Listeners
            If you want enable logging into a File but you don't want to change the default values,
            you can leave the initializeData empty or rather remove it.  
                
            Parameter:              Remark                              Default Value:
            ___________________________________________________________________________________
            FileDirectory           Environment Variables supported     <LocalAppData>\Comos_Industry_Solutions\Listeners
                                    e.g. %USERPROFILE% or %TEMP%  		(typically: C:\Documents and Settings\<user>\Local Settings\Application Data\Comos_Industry_Solutions\Listeners)
            MaxFileLength           in bytes                            104857600 -> 100MB
            MaxFileCount                                                5
            Mode                                                        CutOff
            
            Possible values for Mode:
            Value:                  Description:
            ___________________________________________________________________________________
            CutOff                  If the maximum file length is reached, writing to the file will be turned off.
            CreateNew               If the maximum file length is reached, a new file will be created. If more than
                                    the maximum file count files are created the oldest file will be deleted.
            Truncate                If the maximum file length is reached, the current file will be cleared and
                                    rewritten from the beginning.
            WrapAround              If the maximum file length is reached, the oldest entries in the file will be
                                    deleted and new entries are written to the end of the file.
            
         -->
    </sharedListeners>
    <trace autoflush="true" indentsize="2"/>
  </system.diagnostics>


</configuration>
